body {
  margin: 0;
}

.body {
  margin: 8px;
}

.divflex {
  display: flex;
  gap: 8px;
  align-items: center;
}

.divflex > * {
  flex-grow: 0;
  margin-bottom: 8px;
}

.divflex > :first-child {
  flex-grow: 2;
}

#advanced,
#reuseMjolnir {
  display: none;
}

button {
  padding-left: 8px;
  padding-right: 8px;
}

li {
  cursor: pointer;
}

.loader {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* centre the child */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > div {
  /* use the parent's background */
  background-color: transparent;
  /* make the circle */
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* make it spin */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
